body {
  font-family: 'Monserrat', sans-serif;
  font-size: 17px;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

h1 {  
  font-family: 'Karla', sans-serif;
  margin-bottom: 0;
  font-size: 3em;
  text-align: center;
}

h2 {
  font-family: 'Karla', sans-serif;
  margin-bottom: 0;
  font-size: 2.5em;
}

h3 {
  margin-top: 0;
  font-weight: normal;
}

h4 {
  font-size: 25px;
  font-weight: normal;
  margin: 0 auto 0 auto;
}

img.image {
  width: 100%;
}

p {
 color: #e8e8e8;
 cursor: default;
}


i.fa-caret-down {
  font-size: 1.5em;
}

.header {
  background-color: #000;
  font-size: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em 0 2em;
}

.navbar-item {
  display: inline-block;
  color: #e8e8e8;
}

.container-one {
  background-image: url("assets/images/backgrounds/nightcoding.jpeg");
  background-size: cover;
  color: #e8e8e8;
  margin: 0px auto 0px auto;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container-two {
  background-color: #e8e8e8;
  color: #000;
  margin: 0px auto 0px auto;
  min-height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 3em;
}

.about-me {
  width: calc(50% - 2em);
  min-width: 300px;
}

.align {
  align-items: center;
}

.justify {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.about-technologies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-tech {
  max-width: 40px;
  padding: 0 4px 0 4px;
}

.card {
  margin: 0 auto;
  max-width: 80%;
  height: 100%;
  min-height: 100%;
}

.about-text {
  padding-bottom: 1em;
}

.about-text-mobile {
  display: none;
}

.button {
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.all-projects {
  background-color: #e8e8e8;
  color: #e8e8e8;
  margin: 0px auto 0px auto;
  display: flex;
  flex-direction: column;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  margin: 20px auto;
  font-size: 15px;
}

.project {
  background: #d8d8d8;
  width: calc(50% - 20px);
  max-width: 500px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  color: #000;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
  box-shadow:
    0 4px 5px 0 rgba(0,0,0,.14), 
    0 1px 10px 0 rgba(0,0,0,.12), 
    0 2px 4px -1px rgba(0,0,0,.2);
}

.app-img {
  height: 50%;
  overflow: hidden;
  background-size: cover;
}

.app-title {
  font-family: 'Karla', sans-serif;
  padding: 1em 0 0 1em;
}

.app-desc {
  font-family: 'Monserrat', sans-serif;
  padding: 1em;
}

.technologies {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
  border-top: 1px solid rgba(0,0,0,0.2);
  margin-top: auto;
}

.app-links {
  border-top: 1px solid rgba(0,0,0,0.2);
  padding: 0 1em 1em 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.link {
  padding-top: 1em;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background: #000;
  color: white;
}

.disclaimers {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2em 0 2em;
}

.footer-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.translucent {
  opacity: 0.6;
}

.hover:hover {
  opacity: 1;
  cursor: pointer;
}

.bounce {
  position: relative;
  bottom: 5px;
  height: 2em;
  animation: bounce 1s infinite;
}

.hide-el {
  display: none;
}

.fade-in {
  animation: fadein;
  animation-duration: 1.5s;
}

/* Tooltips */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  font-size: 12px;
  visibility: hidden;
  width: 70px;
  top: 100%;
  left: 50%; 
  margin-left: -35px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Zoom on hover */
.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.2);
}

/* Keyframes */
@keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:10px; }
  50%      { bottom:15px; }
  100%     {bottom:5px;}
}

@keyframes fadein {
  from{opacity: 0}
  to{opacity: 1 }
}

/* media queries for mobile */

@media (max-width: 500px) {
  h1 {
    font-size: 2em;
    margin: auto;
  }
  
  h3 {
    font-size: 14px;
  }

  .card {
    margin: auto;
  }

  .about-text {
    display: none;
  }

  .about-text-mobile {
    display: block;
    margin: 0;  
  }

  .copyright {
    display: none;
  }

  .copyright-mobile {
    display: block;
  }
}