body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

h1 {  
  margin-bottom: 0;
  font-size: 4em;
  text-align: center;
}

h2 {
  margin-bottom: 0;
  font-size: 3em;
}

h3 {
  margin-top: 0;
}

img.image {
  width: 100%;
}

p#nav-text {
 color: white;
 cursor: default;
}


i.fa-caret-down {
  font-size: 1.5em;
}

.header {
  font-size: 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em 0 2em;
}

.navbar-item {
  display: inline-block;
  color: white;
}

.container {
  background-color: /*#f4f4f4*/ #4F2683;
  color: white;
  margin: 0px auto 0px auto;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about-me {
  max-width: 70%;
}

.all-projects {
  background-color: #4F2683;
  color: white;
  margin: 0px auto 0px auto;
  display: flex;
  flex-direction: column;
}

.align {
  align-items: center;
}

.justify {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.card {
  margin: 0 auto;
  max-width: 80%;
  height: 100%;
  min-height: 100%;
}

.about-text {
  padding-bottom: 1em;
}

.button {
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 20px auto;
  padding: 1em;
}

.project {
  width: 30%;
  min-width: 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  overflow: hidden;
  position: relative;
  background: gray;
  border-radius: 5px;
}

.app-title {
  padding: 1em;
  text-align: center;
}

.app-img {
  background-size: cover;
}

.app-desc {
  padding: 1em;
}

.technologies {
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.tech {
  padding: 0 1em 0 1em;
}

.app-links {
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background: #4F2683;
  color: white;
}

.disclaimers {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2em 0 2em;
}

.footer-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.translucent {
  opacity: 0.7;
}

.hover:hover {
  opacity: 1;
  cursor: pointer;
}

.bounce {
  position: relative;
  bottom: 5px;
  height: 2em;
  animation: bounce 1s infinite;
}

#two {
  background-color: #606060;
}


.hide-el {
  display: none;
}

.fade-in {
  animation: fadein;
  animation-duration: 1.5s;
}

@keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:10px; }
  50%      { bottom:15px; }
  100%     {bottom:5px;}
}

@keyframes fadein {
  from{opacity: 0}
  to{opacity: 1 }
}